@model IEnumerable<LicentaApp.Preturi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Valoare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataActualizare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsteUtilizatAcum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produse.Cod)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Valoare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataActualizare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsteUtilizatAcum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produse.Cod)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
