@using WebGrease.Css.Extensions
@model LicentaApp.ViewModels.ProduseViewModel

@{
    ViewBag.Title = "Adauga produs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adauga produs nou</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.EditorFor(x => x.Produse)
        <div class="row">
            <div class="col m12 input-field">
                @Html.EditorFor(model => model.Pret)
                @Html.LabelFor(model => model.Pret)
                @Html.ValidationMessageFor(model => model.Pret, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="product-properties-container">
            @Html.Partial("Produse/ProductProperties", this.Model)
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adauga" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Bundles/Scripts/Custom/DynamicProductProperties.js")
    <script type="text/javascript">
        //DynamicProductPropertiesInit('Url.Action("GetProductProperties", "Produse", null)')

        @if(this.Model?.ProductMetadata == null)
        {
            <text>$("#product-properties-container").hide();</text>
        }

        $('#tip-produs').on('change',
            function () {
                var selectedValue = this.value;
                $('#product-properties-container')
                    .load('@Url.Action("GetProductProperties", "Produse", null)' + '?tipProdus=' + selectedValue,
                        function () {
                            $('select').formSelect();
                        });

                if (selectedValue) {
                    $("#product-properties-container").show();
                } else {
                    $("#product-properties-container").hide();
                }
            });
    </script>
}
