@model LicentaApp.Produse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Produse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denumire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipProdus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipProdus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Furnizori.Denumire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Furnizori.Denumire)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
