@using LicentaApp.Domain
@using LicentaApp.Domain.Metadata
@using LicentaApp.Domain.ValueObjects
@model IEnumerable<LentileView>
@{
    ViewBag.Title = "ListaLentile";
    Layout = "~/Views/Shared/_PagedLayout.cshtml";
}

<div class="row">
    <div class="col s11">
        <h4>Lentile</h4>
    </div>
    <div class="col s1">
        @Html.Partial("_FloatingButton", new Tuple<string, string>(Url.Action("Create", "Produse"), "Adauga"))
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Cod
        </th>
        <th>
            Denumire
        </th>
        <th>
            Discount
        </th>
        <th>
            Tip Lentila
        </th>
        <th>
            Indice Refractie
        </th>
        <th>
            Pret
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @(ProductMetadata.Deserializers.EnumDeserializer<TipLentila>(item.TipLentila).ToHtmlMvcString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndiceRefractie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.Partial("_RUDButtons", new Tuple<int, string>(item.Id, "Produse"))
            </td>
        </tr>
    }

</table>
