@model LicentaApp.Furnizori

<table class="striped custom-display-table">
    <thead>
        <tr>
            <th colspan="2">Detalii Furnizor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Denumire:</b></td>
            <td>@this.Model.Denumire</td>
        </tr>

        <tr>
            <td><b>Adresa:</b></td>
            <td>@this.Model.Adresa</td>
        </tr>

        <tr>
            <td><b>Telefon:</b></td>
            <td>@this.Model.NumarTelefon</td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td>@this.Model.Email</td>
        </tr>
    <tr>
        <td><b>CIF</b></td>
        <td>@this.Model.CIF</td>
    </tr>
    <tr>
        <td><b>Nr. Irg. Reg. Com.</b></td>
        <td>@this.Model.NRREGCOMERTULUI</td>
    </tr>
    </tbody>
</table>
