@model LicentaApp.ViziteMedicale

<div class="row">
    <div class="col m6">
        <table class="striped custom-display-table">
            <thead>
                <tr>
                    <th colspan="2">Ochi drept</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>Sfera Distanta:</b></td>
                <td>@this.Model.SferaDistantaDrept</td>
            </tr>
            <tr>
                <td><b>Sfera Aproape:</b></td>
                <td>@this.Model.SferaAproapeDrept</td>
            </tr>
            <tr>
                <td><b>Cilindru:</b></td>
                <td>@this.Model.CilindruDrept</td>
            </tr>
            <tr>
                <td><b>Ax:</b></td>
                <td>@this.Model.AxDrept</td>
            </tr>
            <tr>
                <td><b>Prisma:</b></td>
                <td>@this.Model.PrismaDrept</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col m6">
        <table class="striped custom-display-table">
            <thead>
            <tr>
                <th colspan="2">Ochi Stang</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>Sfera Distanta:</b></td>
                <td>@this.Model.SferaDistantaStang</td>
            </tr>
            <tr>
                <td><b>Sfera Aproape:</b></td>
                <td>@this.Model.SferaAproapeStang</td>
            </tr>
            <tr>
                <td><b>Cilindru:</b></td>
                <td>@this.Model.CilindruStang</td>
            </tr>
            <tr>
                <td><b>Ax:</b></td>
                <td>@this.Model.AxStang</td>
            </tr>
            <tr>
                <td><b>Prisma:</b></td>
                <td>@this.Model.PrismaStang</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>