@model IEnumerable<LicentaApp.Utilizatori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PagedLayout.cshtml";
}

<div class="row">
    <div class="col s11">
        <h3>Utilizatori</h3>
    </div>
    <div class="col s1">
        @Html.Partial("_FloatingButton", new Tuple<string, string>(Url.Action("Inregistreaza", "Utilizatori"), "Adauga"))
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Locatie Magazin
        </th>
        <th>
            Rol
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Magazine.Denumire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roluri.Denumire)
        </td>
        <td>
            @Html.Partial("_RUDButtons", new Tuple<int, string>(item.Id, "Utilizatori"))
        </td>
    </tr>
}

</table>
