@using LicentaApp.Domain
@model LicentaApp.Clienti
@{
    var isEdit = ViewBag.Action == AppConstants.CRUD.Edit;
}
@if (isEdit)
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.DataInregistrare)    
}

<div id="client-editor-section">
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="col m4 input-field">
            @Html.TextBoxFor(model => model.Nume)
            @Html.LabelFor(model => model.Nume)
        </div>
        <div class="col m4 input-field">
            @Html.EditorFor(model => model.Prenume)
            @Html.LabelFor(model => model.Prenume)
        </div>
        <div class="col m4 input-field">
            @Html.TextBoxFor(model => model.DataNastere, "{0:dd/MM/yyyy}", new {  @class="datepicker" })
            @Html.LabelFor(model => model.DataNastere, "Data Nasteree")
        </div>
    </div>

    <div class="row">
        <div class="col m4 input-field">
            @Html.EditorFor(model => model.Email)
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="col m4 input-field">
            @Html.EditorFor(model => model.NumarTelefon)
            @Html.LabelFor(model => model.NumarTelefon, "Numar de telefon")
        </div>
        <div class="col m4 input-field">
            @Html.EditorFor(model => model.Profesie)
            @Html.LabelFor(model => model.Profesie)
        </div>
    </div>

</div>
