@model LicentaApp.Utilizatori

<div class="row">
    <div class="col m4 input-field">
        @Html.EditorFor(model => model.Username)
        @Html.LabelFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>
    <div class="col m4 input-field">
        @Html.PasswordFor(model => model.Parola)
        @Html.LabelFor(model => model.Parola)
        @Html.ValidationMessageFor(model => model.Parola, "", new { @class = "text-danger" })
    </div>
    <div class="col m4 input-field">
        @Html.EditorFor(model => model.Email)
        @Html.LabelFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="col m6 input-field">
        @Html.EditorFor(model => model.Prenume)
        @Html.LabelFor(model => model.Prenume)
        @Html.ValidationMessageFor(model => model.Prenume, "", new { @class = "text-danger" })

    </div>
    <div class="col m6 input-field">
        @Html.EditorFor(model => model.Nume)
        @Html.LabelFor(model => model.Nume)
        @Html.ValidationMessageFor(model => model.Nume, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    @if (ViewBag.RoluriSelectList != null)
    {
        <div class="col m6 input-field">
            @Html.DropDownListFor(model => model.IdRol, (SelectList) ViewBag.RoluriSelectList, "- Selecteaza -")
            @Html.LabelFor(model => model.IdRol)
            @Html.ValidationMessageFor(model => model.IdRol, "", new {@class = "text-danger"})
        </div>        
    }
    @if (ViewBag.MagazineSelectList != null)
    {
        <div class="col m6 input-field">
            @Html.DropDownListFor(model => model.IdMagazin, (SelectList) ViewBag.MagazineSelectList, "- Selecteaza -")
            @Html.LabelFor(model => model.IdMagazin)
            @Html.ValidationMessageFor(model => model.IdMagazin, "", new {@class = "text-danger"})
        </div>        
    }
</div>
