@using LicentaApp.Domain
@model LicentaApp.ViziteMedicale


<h6>Rezultat vizita medicala - ochi drept</h6>
<hr />
<div class="row">
    @if (ViewData.ContainsKey(AppConstants.SferaDistantaOptions))
    {
        <div class="col m2 input-field">
            @Html.DropDownListFor(model => model.SferaDistantaDrept, (SelectList)ViewData[AppConstants.SferaDistantaOptions], "- Fara -")
            @Html.LabelFor(model => model.SferaDistantaDrept)
            @Html.ValidationMessageFor(model => model.SferaDistantaDrept, "", new { @class = "text-danger" })
        </div>
    }
    @if (ViewData.ContainsKey(AppConstants.SferaAproapeOptions))
    {
        <div class="col m2 input-field">
            @Html.DropDownListFor(model => model.SferaAproapeDrept, (SelectList)ViewData[AppConstants.SferaAproapeOptions], "- Fara -")
            @Html.LabelFor(model => model.SferaAproapeDrept)
            @Html.ValidationMessageFor(model => model.SferaAproapeDrept, "", new { @class = "text-danger" })
        </div>
    }
    @if (ViewData.ContainsKey(AppConstants.CilindruOptions))
    {
        <div class="col m2 input-field">
            @Html.DropDownListFor(model => model.CilindruDrept, (SelectList)ViewData[AppConstants.CilindruOptions], "- Fara -")
            @Html.LabelFor(model => model.CilindruDrept)
            @Html.ValidationMessageFor(model => model.CilindruDrept, "", new { @class = "text-danger" })
        </div>
    }

    @if (ViewData.ContainsKey(AppConstants.AxOptions))
    {
        <div class="col m2 input-field">
            @Html.DropDownListFor(model => model.AxDrept, (SelectList)ViewData[AppConstants.AxOptions], "- Fara -")
            @Html.LabelFor(model => model.AxDrept)
            @Html.ValidationMessageFor(model => model.AxDrept, "", new { @class = "text-danger" })
        </div>
    }

    @if (ViewData.ContainsKey(AppConstants.PrismaOptions))
    {
        <div class="col m2 input-field">
            @Html.DropDownListFor(model => model.PrismaDrept, (SelectList)ViewData[AppConstants.PrismaOptions], "- Fara -")
            @Html.LabelFor(model => model.PrismaDrept)
            @Html.ValidationMessageFor(model => model.PrismaDrept, "", new { @class = "text-danger" })
        </div>
    }
</div>

<h6>Rezultat vizita medicala - ochi stang</h6>
<hr/>
<div class="row">
    @if (ViewData.ContainsKey(AppConstants.SferaDistantaOptions))
    {
        <div class="col m2 input-field">
            @Html.DropDownListFor(model => model.SferaDistantaStang, (SelectList)ViewData[AppConstants.SferaDistantaOptions], "- Fara -")
            @Html.LabelFor(model => model.SferaDistantaStang)
            @Html.ValidationMessageFor(model => model.SferaDistantaStang, "", new { @class = "text-danger" })
        </div>
    }
    @if (ViewData.ContainsKey(AppConstants.SferaAproapeOptions))
    {
        <div class="col m2 input-field">
            @Html.DropDownListFor(model => model.SferaAproapeStang, (SelectList)ViewData[AppConstants.SferaAproapeOptions], "- Fara -")
            @Html.LabelFor(model => model.SferaAproapeStang)
            @Html.ValidationMessageFor(model => model.SferaAproapeStang, "", new { @class = "text-danger" })
        </div>
    }
    @if (ViewData.ContainsKey(AppConstants.CilindruOptions))
    {
        <div class="col m2 input-field">
            @Html.DropDownListFor(model => model.CilindruStang, (SelectList)ViewData[AppConstants.CilindruOptions], "- Fara -")
            @Html.LabelFor(model => model.CilindruStang)
            @Html.ValidationMessageFor(model => model.CilindruStang, "", new { @class = "text-danger" })
        </div>
    }

    @if (ViewData.ContainsKey(AppConstants.AxOptions))
    {
        <div class="col m2 input-field">
            @Html.DropDownListFor(model => model.AxStang, (SelectList)ViewData[AppConstants.AxOptions], "- Fara -")
            @Html.LabelFor(model => model.AxStang)
            @Html.ValidationMessageFor(model => model.AxStang, "", new { @class = "text-danger" })
        </div>
    }

    @if (ViewData.ContainsKey(AppConstants.PrismaOptions))
    {
        <div class="col m2 input-field">
            @Html.DropDownListFor(model => model.PrismaStang, (SelectList)ViewData[AppConstants.PrismaOptions], "- Fara -")
            @Html.LabelFor(model => model.PrismaStang)
            @Html.ValidationMessageFor(model => model.PrismaStang, "", new { @class = "text-danger" })
        </div>
    }
    
</div>
<h6>Distanta pupilara</h6>
<hr/>
<div class="row">
    <div class="col m4 input-field">
        @Html.EditorFor(model => model.DistantaPupilara)
        @Html.LabelFor(model => model.DistantaPupilara)
        @Html.ValidationMessageFor(model => model.DistantaPupilara, "", new { @class = "text-danger" })
    </div>
</div>