
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

<div class="row">
    <div class="col s12 m3">
        <div class="card setting-card">
            <div class="card-image">
                <img src="@Url.Content("~/Bundles/Content/Images/network.png")">
                <span class="card-title">Utilizatori</span>
                <a href="@Url.Action("Index","Utilizatori")" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card setting-card">
            <div class="card-image">
                <img src="@Url.Content("~/Bundles/Content/Images/online-store.png")">
                <span class="card-title">Magazine</span>
                <a href="@Url.Action("Index","Magazine")" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card setting-card">
            <div class="card-image">
                <img src="@Url.Content("~/Bundles/Content/Images/delivery-truck.png")">
                <span class="card-title">Furnizori</span>
                <a href="@Url.Action("Index","Furnizori")" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
    @*<div class="col s12 m3">
        <div class="card setting-card">
            <div class="card-image">
                <img src="../../Bundles/Content/Images/inventory.png">
                <span class="card-title">Inventar</span>
                <a href="@Url.Action("Index","Inventar")" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>*@
</div>

<div class="row">
   
</div>

