
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

<div class="row">
    <a href="@Url.Action("Index","Utilizatori")" class="waves-effect waves-light btn-large">Utilizatori</a>
</div>
<div class="row">
    <a href="@Url.Action("Index","Furnizori")" class="waves-effect waves-light btn-large">Furnizori</a>
</div>
<div class="row">
    <a href="@Url.Action("Index","Magazine")" class="waves-effect waves-light btn-large">Magazine</a>
</div>
<div class="row">
    <a href="@Url.Action("Index","Produse")" class="waves-effect waves-light btn-large">Produse</a>
</div>
<div class="row">
    <a href="@Url.Action("Index","Inventar")" class="waves-effect waves-light btn-large">Inventar</a>
</div>
