@model System.Data.Entity.Core.Objects.ObjectResult<PivotTableTotalVanzari_Result>
    @{
        ViewBag.Title = "VanzariTotalePeLuni";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="row">
        <h4 class="report-title">Vanzari totale/luni</h4>
    </div>

    <table class="highlight">
        <thead>
        <tr>
            <th>An</th>
            <th>Ian</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>Mai</th>
            <th>Iun</th>
            <th>Iul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Noi</th>
            <th>Dec</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in this.Model)
        {
            <tr>
                <td><b>@item.Anul</b></td>
                <td>@item.jan</td>
                <td>@item.feb</td>
                <td>@item.mar</td>
                <td>@item.apr</td>
                <td>@item.may</td>
                <td>@item.jun</td>
                <td>@item.jul</td>
                <td>@item.aug</td>
                <td>@item.sep</td>
                <td>@item.oct</td>
                <td>@item.nov</td>
                <td>@item.dec</td>
            </tr>
        }
        </tbody>
    </table>
