@model IEnumerable<LicentaApp.Utilizatori>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Locatie Magazin
        </th>
        <th>
            Rol
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Magazine.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roluri.Denumire)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Utilizatori", new { id=item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Utilizatori", new { id=item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Utilizatori", new { id=item.Id }, null)
            </td>
        </tr>
    }

</table>

<a href="@Url.Action("Inregistreaza", "Utilizatori")" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

