@using LicentaApp.Domain
@{
    bool isPaginationEnabled = ViewData.ContainsKey(AppConstants.Pagination.EnablePagination) && (bool)ViewData[AppConstants.Pagination.EnablePagination];
    int currentPage = 0;
    int totalPages = 0;
    string actionName = string.Empty;
    if (isPaginationEnabled)
    {
        currentPage = Convert.ToInt32(ViewData[AppConstants.Pagination.CurrentPage]);
        totalPages = Convert.ToInt32(ViewData[AppConstants.Pagination.TotalPages]);
        actionName = ViewData[AppConstants.Pagination.ActionName].ToString();
    }

    var startPage = (currentPage - 10) >= 1 ? (currentPage - 10) : 1;
    var endPage = (currentPage + 10) <= totalPages ? (currentPage + 10) : totalPages;

}

<input type="hidden" name="filter.Page" id="filter_Page" value="@currentPage"/>

@if (isPaginationEnabled)
{
    <ul class="pagination">
        @if (currentPage == 1)
        {
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        }
        else
        {
            <li class="waves-effect"><a target_page="@(currentPage - 1)" class="move-to-page"><i class="material-icons">chevron_left</i></a></li>
        }
        @if (startPage != 1)
        {
            <li class="waves-effect">...</li>
        }
        @for (int i = startPage; i <= endPage; ++i)
        {

            if (currentPage == i)
            {
                <li class="active"><a target_page ="@i" class="move-to-page">@i</a></li>
            }
            else
            {
                <li class="waves-effect"><a target_page ="@i" class="move-to-page">@i</a></li>
            }

        }
        @if (endPage != totalPages)
        {
            <li class="waves-effect">...</li>
        }
        @if (currentPage == totalPages)
        {
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        }
        else
        {
            <li class="waves-effect"><a target_page="@(currentPage + 1)" class="move-to-page"><i class="material-icons">chevron_right</i></a></li>
        }
    </ul>
}
