@using LicentaApp.Domain
@using LicentaApp.Domain.Metadata
@using LicentaApp.Domain.ValueObjects
@model IEnumerable<LentileView>

<div id="lista-lentile-data">
    <table class="table">
        <tr>
            <th>
                Cod
                <input type="text" name="filter.Cod" id="filter_Cod" />
            </th>
            <th>
                Denumire
                <input type="text" name="filter.Denumire" id="filter_Denumire" />
            </th>
            <th>
                Discount
                <input type="text" name="filter.Discount" id="filter_Discount" />
            </th>
            <th>
                Tip Lentila
                <select name="filter.TipLentila" id="filter_TipLentila">
                    <option value="">Selecteaaza</option>
                    @foreach (var item in typeof(TipLentila).ToSelectList())
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </th>
            <th>
                Indice Refractie
                <input type="number" name="filter.IndiceRefractie" id="filter_IndiceRefractie" />
            </th>
            <th>
                Pret
                <input type="number" name="filter.Pret" id="filter_Pret" />
            </th>
            <th style="min-width: 150px;">
                <a id="filtreaza" class="btn-floating btn-small waves-effect waves-light red"><i class="fas fa-search"></i></a>
            </th>
        </tr>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Denumire)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @(ProductMetadata.Deserializers.EnumDeserializer<TipLentila>(item.TipLentila).ToHtmlMvcString())
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IndiceRefractie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pret)
                    </td>
                    <td>
                        @Html.Partial("_RUDButtons", new Tuple<int, string>(item.Id, "Produse"))
                    </td>
                </tr>

            }
        </tbody>
    </table>
    @Html.Partial("Produse/FilteredPagination")
</div>
