@model IEnumerable<RameView>


<div id="lista-rame-data">

    <table class="table">
        <tr>
            <th>
                Cod

            </th>
            <th>
                Denumire

            </th>
            <th>
                Discount

            </th>
            <th>
                Pret
            </th>
            <th style="width: 150px;">
                <a class="waves-effect waves-light btn modal-trigger" href="#filtru">Aplica filtre</a>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Denumire)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valoare)
                </td>
                <td>
                    @Html.Partial("_RUDButtons", new Tuple<int, string>(item.Id, "Produse"))
                </td>
            </tr>
        }

    </table>
    @Html.Partial("Produse/FilteredPagination")
</div>
