@using LicentaApp.Domain
@using LicentaApp.Domain.Auth
@using LicentaApp.Domain.Metadata
@using LicentaApp.Domain.ValueObjects
@model IEnumerable<LentileView>
@{
    var isAdmin = (User as AppPrincipal).IsInRole(AuthConstants.Roluri.Admin);
}
<div id="lista-lentile-data">
    <table class="table">
        <tr>
            <th>
                Cod
            </th>
            <th>
                Denumire
            </th>
            <th>
                Discount
            </th>
            <th>
                Tip Lentila
            </th>
            <th>
                Indice Refractie
            </th>
            <th>
                Pret
            </th>
            <th style="width: 150px;">
                <a class="waves-effect waves-light btn modal-trigger" href="#filtru">Aplica filtre</a>
            </th>
        </tr>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Denumire)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @(ProductMetadata.Deserializers.EnumDeserializer<TipLentila>(item.TipLentila).ToHtmlMvcString())
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IndiceRefractie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pret)
                    </td>
                    <td>
                        @if (isAdmin)
                        {
                            @Html.Partial("_RUDButtons", new Tuple<int, string>(item.Id, "Produse"))
                        }
                        else
                        {
                            <a href="@Url.Action("Details", "Produse", new { id= item.Id })" class="tooltipped icon-button view-icon" data-position="bottom" data-tooltip="Detalii"><i class="fas fa-info fa-2x"></i></a>
                        }
                    </td>
                </tr>

            }
        </tbody>
    </table>
    @Html.Partial("Produse/FilteredPagination")
</div>
