@model LicentaApp.ViewModels.ComandaViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Comenzi</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h5>Detalii client</h5>
        <hr />
        @Html.EditorFor(x => x.Client)
        
        @*Adauga selectie pentru tip de comanda (cu prelucrare/Comanda simpla). 
        In caz de comanda simpla, se pot comanda rame/ochelari de soare
        In caz de comanda cu prelucrare de pot comanda rame/ochelari de soare + lentile;\*@


        <h5>Detalii vizita medicala</h5>
        @Html.EditorFor(x => x.VizitaMedicala)
        

        @*Add AUTOCOMPLETE*@
        <h6>Rama</h6>
        <hr />
        <div class="row">
            <div class="col m6 input-field">
                @Html.EditorFor(model => model.CodRama)
                @Html.LabelFor(model => model.CodRama)
                @Html.ValidationMessageFor(model => model.CodRama, "", new { @class = "text-danger" })
            </div>

            <div class="col m6 input-field">
                @Html.EditorFor(model => model.DiscountRama)
                @Html.LabelFor(model => model.DiscountRama)
                @Html.ValidationMessageFor(model => model.DiscountRama, "", new { @class = "text-danger" })
            </div>
        </div>
        
        


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
