@model IEnumerable<LicentaApp.ViewModels.Comanda.ComandaReadAllViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PagedLayout.cshtml";
}

<div class="row">
    <div class="col s11">
        <h3>Comenzi</h3>
    </div>
    <div class="col s1">
        @Html.Partial("_FloatingButton", new Tuple<string, string>(Url.Action("Create", "Comenzi"), "Adauga"))
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Numar comanda
        </th>
        <th>
            Data
        </th>
        <th>
            Nume client
        </th>
        <th>
            Nume angajat
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumarComanda)
            </td>
            <td>
                @item.Data.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeAngajat)
            </td>
            <td>

                <a href="@Url.Action("Details", "Comenzi", new { id=item.NumarComanda })" class="tooltipped" data-position="bottom" data-tooltip="Detalii"><i class="fas fa-info fa-2x"></i></a>
            </td>
        </tr>
    }

</table>

